#registerLoginPage {
    display: flex;
    flex-direction: row;
}

.registerLoginPageImage {
    width: 30%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerLoginPageImage img {
    height: 100vh;
}

.registerLoginPageContent {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}